<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ title | translate }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-toggle [className]="'flag-ro'"
                        name="lang"
                        aria-label=""
                        [(ngModel)]="selectedLangRo"
                        (ionChange)="flagSelected('ro')">
            </ion-toggle>
            <ion-toggle [className]="'flag-ru'"
                        [(ngModel)]="selectedLangRu"
                        name="lang"
                        aria-label=""
                        (ionChange)="flagSelected('ru')">
            </ion-toggle>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
