<app-header [title]="'Exam list'"></app-header>

<ion-content [fullscreen]="true">
    <ion-list *ngIf="loaded">
        <app-driving-list-item
            (click)="test()"
            [title]="'ui.category.title' | translate: {category: 'AM A1 A2 A B1 B'}"
            [description]="descriptionAB"
            [imgSrc]="'/assets/images/content/ab'"
        >
        </app-driving-list-item>
        <app-driving-list-item
            [title]="'ui.category.title' | translate: {category: 'BE'}"
            [description]="descriptionBE"
            [imgSrc]="'/assets/images/content/be'"></app-driving-list-item>
        <app-driving-list-item
            [title]="'ui.category.title' | translate: {category: 'C1 C'}"
            [description]="comingSoon"
            [imgSrc]="'/assets/images/content/c'"></app-driving-list-item>
        <app-driving-list-item
            [title]="'ui.category.title' | translate: {category: 'C1E CE'}"
            [description]="comingSoon"
            [imgSrc]="'/assets/images/content/ce'"></app-driving-list-item>
        <app-driving-list-item
            [title]="'ui.category.title' | translate: {category: 'D D1'}"
            [description]=""
            [imgSrc]="'/assets/images/content/d'"></app-driving-list-item>
        <app-driving-list-item
            [title]="'ui.category.title' | translate: {category: 'D1E DE'}"
            [description]="comingSoon"
            [imgSrc]="'/assets/images/content/de'"></app-driving-list-item>
        <app-driving-list-item
            [title]="'ui.category.title' | translate: {category: 'T'}"
            [description]="comingSoon"
            [imgSrc]="'/assets/images/content/t'"></app-driving-list-item>
    </ion-list>

</ion-content>

<ng-template #comingSoon>
    &lt;{{ 'base.coming_soon' | translate }}&gt;
</ng-template>

<ng-template #descriptionAB>
    <app-description-template
        [questions]="settings.AB.questions"
        [success]="settings.AB.success"
        [total]="settings.AB.total"
        [time]="settings.AB.time"
        [permittedFails]="settings.AB.permittedFails"></app-description-template>
</ng-template>
<ng-template #descriptionBE>
    <app-description-template
        [questions]="settings.BE.questions"
        [success]="settings.BE.success"
        [total]="settings.BE.total"
        [time]="settings.BE.time"
        [permittedFails]="settings.BE.permittedFails"></app-description-template>
</ng-template>
