<ion-tabs >
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="exams">
            <ion-icon name="receipt-outline"></ion-icon>
            <ion-label>{{ 'ui.tab.exams' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="themes">
            <ion-icon name="library-outline"></ion-icon>
            <ion-label>{{ 'ui.tab.themes' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="stats">
            <ion-icon name="bar-chart-outline"></ion-icon>
            <ion-label>{{ 'ui.tab.stats' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon name="cog-outline"></ion-icon>
            <ion-label>{{ 'ui.tab.settings' | translate }}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
